########## 
# general
########## 

##### options are: 'error' < 'info' < 'debug'
LOG_LEVEL=info

PROVIDER_TYPE=

PROVIDER_URL= 

BLOCK_NUMBER=


######################
# get_block_history.py
###################### 

#### options are 'local_ipc', 'local_http', 'local_ws', 'ipc', 'ws', 'http'
#### for locally run nodes, an IPC connection is the mosts secure option.


PAIR_ADDRESSES=

ABI_JSON_PATH=


##############################
# get_deep_block_data.py
############################# 



##############################
# get_deep_tx_data.py
############################# 

TRANSACTION=


##############################
# get_contracts_deployed.py
############################# 

START_BLOCK=

TX_FILE=


